@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazirFont";
  src: local("Vazir"), local("Vazir-Regular"),
    url("../assets/fonts/woff2/Vazir-Regular-FD-UI.woff2") format("woff2");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  font-size: 16px;
}

body {
  direction: rtl;
  font-family: "vazirFont";
}

.content-area {
  min-height: calc(100vh - theme(spacing.14));
  overflow: auto;
}

.border-gradient {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #4640e1, #76e6ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.textfield-input-container {
  width: calc(100% - theme(spacing.14));
}

@media (min-width: 320px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 428px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .content-area {
    height: calc(100vh - theme(spacing.12));
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}
